.calendar-container {
  width: 500px;
  margin: 0 auto;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
}

li {
  list-style: none;
  display: inline-block;
}

.grid-date-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  row-gap: 20px;
  align-items: center;
  justify-items: center;
}
.previous,
.next {
  color: #b1b1b1;
}
.user-choice {
  display: block;
  margin-top: 30px;
  margin: 0 auto;
}
#select-month {
  flex-grow: 1;
}
